body{

    background-color: bisque;
}


.text
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(231, 135, 103);

}

.box
{
   
display:flex;
align-items: center;
justify-content: center;
}
.results
{
    background-color:rgba(233, 150, 122, 0.452);
display: flex;
align-items: center;
justify-content: center;
margin: 10px;
height: 400px;
width: 300px;
border-radius: 4px;


}


.results img
{
object-fit: cover;
height: 100%;
width:100%;
}


.buttons
{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*

#btn
{
    border: 0;
    background: darksalmon;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.button:hover
{

   color:#d46844 ;
}
*/

.button {
    border: 0;
    background: darksalmon;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button span {
    cursor: pointer;
    display: flex;
    position: relative;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .footer
  {
      display: flex;
      justify-content: center;
      align-items: center;
  }